#container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#left {
  z-index: 1000;
  overflow: auto;
  position: absolute;
  width: 25%;
  height: auto;
  min-width: 300px;
  max-height: 60%;
  background: rgba(252,249,242, .1);
}

#indoor {
  z-index: 50;
  position: absolute;
  width: 100%;
  height: 100%;
}

.indoor-map{
  font-family: 'initial';
  font-size: medium; 
  font-weight: 200;
}

.row{
  position: relative;
  padding-top: .2rem;
  padding-bottom: .2rem;
}
.row .active{
  background: #0894EC;
  color: white;
}
.row .active-light{
  background: rgba(8, 148, 236, .4);
}
/* home page */
.ui-view{
  background-color: #f7f7f8;
}
.ui-view .ng-scope{
  position: relative;
}
.ui-view .ui-modal{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(40,30,30, .8);
  display: block;
  left: 0;
  margin-left: 0;
  border-radius: 0;
}
.org-title{
  font-size: inherit;
}
.org-footer{
  font-size: small;
  padding-left: .2rem;
  color: #666;
}
.org-button{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.org-button, .hover-button{
  min-height: 1rem;
}
.draw-row{
  min-height: 1.5rem;
}

.search-block, .search-block input[type=number], .search-block input[type=text], 
.addpart-block,.addpart-block input[type=number], .addpart-block input[type=text] {
  margin: auto;
  font-size: medium;
}
.search-gps{
  width:40% !important;
  display:inline-block !important;
}

/* Map Marker Popup */
.mappop {
  width: 5rem;
}
#mappop select{
  margin: .1rem 0;
}
#mappop .content-block{
  margin: 0;
  margin-top: .5rem;
  padding: 0;
}
#mappop .list-block{
  margin: 0;
  width: 5rem;
}
#mappop input[type=text], #mappop input[type=number],
#mappop select, 
#mappop .button {
  font-size: .55rem;
  height: 1.35rem;
}
.map-marker, .map-marker-text{
  height: 1rem;
  line-height: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.map-marker{
  color: blue;
  width: .75rem;
}
.map-marker-text{
  font-size: .5rem;
}


/* AMap css customize */
.amap-spinner{
  width: 2.2em;
  height: 2.2em;
  background: #F8F8F8;
  border-radius: 50%;
  box-shadow: 0 1px 3px 1px rgba(100,100,100,.5);
  margin: auto;
  overflow: hidden;
}

.amap-spinner .slice{
  width: 100%;
  height: 100%;
  background: rgba(100,100,100,.7);
  clip-path: circle(.2em at 1.1em .2em);
}

.amap-marker-content{
  white-space: nowrap !important;
  margin-top: 1rem;
}
.amap-container .amap-logo,
.amap-container .amap-copyright {
  display:none !important;
}
.amap-scalecontrol{
  box-shadow: 0 2px 3px 4px #ffe;
  background: rgba(200,200,200,.5);
}
.amap-maps{
  zoom: 1.0;
  -webkit-zoom: 1.0;
  -moz-transform: scale(1.0);
}
.button-group {
  z-index: 800;
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 12px;
	padding: 10px;
}
.button-group .button {
	height: 28px;
	line-height: 28px;
	background-color: #0D9BF2;
	color: #FFF;
	border: 0;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 3px;
	margin-bottom: 4px;
	cursor: pointer;
}

/* sm class fix */
.button-small{
  padding: 0 .2rem;
  font-size: small;
}
.bar-title{
  font-size: large;
}
.bar.bar-nav{
  position: relative;
}
.card{
  margin: auto;
}
html, body{
  width: 100%;
  height: 100%;
  margin: auto;
}
